body{
  background-color: rgb(211,211,211);
}
#canvasContainer {
  width: 100%;
  text-align:center;
  padding-top:50px;
}
#header{
  width:100%;
  padding-top:100px;
  padding-bottom:50px;
  text-align:center;
}
#reset{
  padding-top:10px;
  text-align: center;
}
